.construction-container {
    width: 100%;
    height: 100vh;
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
}
.construction-container .construction {
    text-align: center;
}
.construction-container .construction .const-img img {
    width: 500px;
    max-width: 100%;
}
.construction-container .construction a {
    padding: 10px 0;
    color: var(--black);
    text-decoration: underline;
}