.shoppinngCartContainer {
    width: 100%;
    height: auto;
    padding: 20px;
    margin: 20px 0;
}
.shoppinngCartContainer .shoppingCart .cart-head {
    margin: 20px 10px;
}
.shoppinngCartContainer .shoppingCart .cart-head h2 {
    font-family: var(--inter);
    font-size: 25px;
}
.shoppinngCartContainer .shoppingCart .cart-container {
    position: relative;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    align-items: flex-start;
}
.shoppinngCartContainer .shoppingCart .cart-container .cart-item {
    position: relative;
    margin: 25px 0;
    width: 800px;
    max-width: 100%;
    flex-shrink: 0;
    padding: 20px;
    flex: 1;
}
.shoppinngCartContainer .shoppingCart .cart-container .cart-item .cart {
    position: relative;
    margin: 10px 0;
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #33333357;
}
.shoppinngCartContainer .shoppingCart .cart-container .cart-item .cart:last-child {
    border-bottom: none;
} 
.shoppinngCartContainer .shoppingCart .cart-container .cart-item .cart .cart-info {
    display: flex;
    gap: 30px;
}
.shoppinngCartContainer .shoppingCart .cart-container .cart-item .cart .cart-info .cart-img {
    width: 150px;
    height: 150px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
}
.shoppinngCartContainer .shoppingCart .cart-container .cart-item .cart .cart-info .cart-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.shoppinngCartContainer .shoppingCart .cart-container .cart-item .cart .cart-info .cart-details {
    margin: 5px 0;
}
.shoppinngCartContainer .shoppingCart .cart-container .cart-item .cart .cart-info .cart-details h2 {
    font-size: 25px;
    color: var(--dark);
    padding: 10px;
    font-family: var(--inter);
}
.shoppinngCartContainer .shoppingCart .cart-container .cart-item .cart .cart-info .cart-details h2 a {
    color: var(--dark);
}
.shoppinngCartContainer .shoppingCart .cart-container .cart-item .cart .cart-info .cart-details h2:hover a {
    color: var(--main);
}
.shoppinngCartContainer .shoppingCart .cart-container .cart-item .cart .cart-info .cart-details h2 span {
    color: #555555ab;
    font-size: 12px;
    font-family: var(--poppins);
    padding: 0 5px;
}
.shoppinngCartContainer .shoppingCart .cart-container .cart-item .cart .cart-info .category {
    display: inline-block;
    padding: 8px 15px 10px;
    border-radius: 30px;
    background: var(--main);
    color: var(--white);
}
.shoppinngCartContainer .shoppingCart .cart-container .cart-item .cart .cart-info .cart-details p {
    font-size: 16px;
    font-family: var(--poppins);
    color: var(--black);
    padding: 8px 0;
}
.shoppinngCartContainer .shoppingCart .cart-container .cart-item .cart .cart-quanp .price {
    margin: 5px 0;
}
.shoppinngCartContainer .shoppingCart .cart-container .cart-item .cart .cart-quanp .price h4 {
    font-size: 25px;
    color: var(--dark);
}
.shoppinngCartContainer .shoppingCart .cart-container .cart-item .cart .cart-quanp .quantity {
    width: 100%;
    height: auto;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}
.shoppinngCartContainer .shoppingCart .cart-container .cart-item .cart .cart-quanp button {
    display: inline-block;
    padding: 8px 10px;
    color: var(--white);
    cursor: pointer;
    text-align: center;
    background: #ddd;
    font-size: 18px;
    font-family: var(--poppins);
}
.shoppinngCartContainer .shoppingCart .cart-container .cart-item .cart .cart-quanp span {
    font-size: 20px;
    font-family: var(--inter);
}
.shoppinngCartContainer .shoppingCart .cart-container .cart-item .cart .cart-quanp button.add:hover {
    background: var(--main);
}
.shoppinngCartContainer .shoppingCart .cart-container .cart-item .cart .cart-quanp button.remove:hover {
    background: #f54809;
}
.shoppinngCartContainer .shoppingCart .cart-container .cart-item .cart .cart-del {
    position: absolute;
    top: 0;
    right: 0;
}
.shoppinngCartContainer .shoppingCart .cart-container .cart-item .cart .cart-del button {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ddd;
    border-radius: 20px;
    cursor: pointer;
}
.shoppinngCartContainer .shoppingCart .cart-container .cart-item .cart .cart-del button svg {
    fill: var(--black);
    font-size: 17px;
}
.shoppinngCartContainer .shoppingCart .cart-container .cart-item .cart .cart-del button:hover {
    background: #f54809;
}
.shoppinngCartContainer .shoppingCart .cart-container .cart-item .cart .cart-del button:hover svg {
    fill: var(--white);
}

.shoppinngCartContainer .shoppingCart .cart-container .cart-summary {
    position: sticky;
    top: 10%;
    left: 0;
    right: 0;
    flex-shrink: 0;
    align-self: flex-start;
}
.shoppinngCartContainer .shoppingCart .cart-container .cart-summary .cart-summary-box {
    width: 300px;
    height: auto;
    background: #efefefc4;
    margin: 25px 0;
    max-width: 100%;
    padding: 20px 20px 5px;
}
.shoppinngCartContainer .shoppingCart .cart-container .cart-summary .cart-summary-box .cart-summary-head {
    width: 100%;
    border-bottom: 1px solid #5555555f;
}
.shoppinngCartContainer .shoppingCart .cart-container .cart-summary .cart-summary-box .cart-summary-head h2 {
    padding: 10px 0;
    font-size: 25px;
    color: var(--dark);
    font-family: var(--inter);
}
.shoppinngCartContainer .shoppingCart .cart-container .cart-summary .cart-summary-box .cart-summary-content {
    margin: 20px 0;
}
.shoppinngCartContainer .shoppingCart .cart-container .cart-summary .cart-summary-box .cart-summary-content .item-sum {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #5555555f;
}
.shoppinngCartContainer .shoppingCart .cart-container .cart-summary .cart-summary-box .cart-summary-content .item-sum .item-head h4 {
    font-size: 16px;
    color: var(--black);
    font-weight: 400;
    font-family: var(--inter);
}
.shoppinngCartContainer .shoppingCart .cart-container .cart-summary .cart-summary-box .cart-summary-content .item-sum .item-price h5 {
    font-size: 16px;
    color: var(--black);
    font-weight: 600;
    font-family: var(--poppins);
}
.shoppinngCartContainer .shoppingCart .cart-container .cart-summary .cart-summary-box .cart-summary-content .subtotal {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #5555555f;
}
.shoppinngCartContainer .shoppingCart .cart-container .cart-summary .cart-summary-box .cart-summary-content .subtotal .subtotal-head h4 {
    font-size: 18px;
    color: var(--black);
    font-weight: 600;
    font-family: var(--inter);
}
.shoppinngCartContainer .shoppingCart .cart-container .cart-summary .cart-summary-box .cart-summary-content .subtotal .subtotal-price h5 {
    font-size: 17px;
    color: var(--black);
    font-weight: 600;
    font-family: var(--poppins);
}
.shoppinngCartContainer .shoppingCart .cart-container .cart-summary .cart-summary-box .cart-summary-content .cart-summary-btn {
    margin: 20px auto 5px;
}
.shoppinngCartContainer .shoppingCart .cart-container .cart-summary .cart-summary-box .cart-summary-content .cart-summary-btn button {
    width: 100%;
    height: auto;
    padding: 15px;
    background: var(--main);
    color: var(--white);
    margin: 10px auto 5px;
}