header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 99;
    backdrop-filter: blur(20px);
}
header nav {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--main);
    padding: 10px 30px;
}
header nav .menuContent ul li {
    display: inline-block;
    padding: 10px 15px 8px;
}
header nav .menuContent ul li a {
    color: var(--white);
    font-size: 15px;
    font-family: var(--poppins);
}
header nav .menuContent ul li a.active {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--white);
}
header nav .menuContent ul .acctBtn {
    display: none;
}
header nav .menuContent .btn {
    display: none;
}
header nav .logo  {
    text-align: center;
}
header nav .logo h2 {
    font-size: 30px;
    color: var(--white);
    font-family: var(--poppins);
}
header nav .menuBtnIcon {
    position: relative;
}
header nav .menuBtnIcon .btn {
    position: relative;
    display: inline-block;
    /* padding: 5px; */
    margin: 2px;
    z-index: 1;
    cursor: pointer;
}
header nav .menuBtnIcon .btn::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: var(--main-2);
    box-shadow: 0 0 2px rgba(254, 254, 254, 0.438);
    z-index: -1;
    cursor: pointer;
    opacity: 0;
    transition: 0.5s ease-in-out;
}
header nav .menuBtnIcon .btn:hover::before {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}
header nav .menuBtnIcon .btn svg {
    font-size: 20px;
    color: var(--white);
    margin: 8px;
    cursor: pointer;
}
header nav .menuBtnIcon .btn .badge {
    position: absolute;
    top: 8%;
    right: 10%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(255, 77, 23);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: 10px;
}
header nav .profile-box {
    position: relative;
    transform: scale(0);
    opacity: 0;
    visibility: hidden;
    transform-origin: center;
}
header nav .profile-box.active {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}
header nav .profile-box .profile {
    position: absolute;
    left: -40%;
    top: 70%;
    width: auto;
    padding: 20px;
    text-align: center;
    background: var(--white);
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    border-radius: 5px;
}
header nav .profile-box .profile {
    font-size: 10px;
}
@media (max-width: 768px) {
    header nav .menuContent ul {
        position: fixed;
        top: 80%;
        left: -100%;
        width: 300px;
        height: auto;
        background: var(--main-2);
        padding: 20px;
        box-sizing: border-box;
        margin: 0;
    }
    header nav.active .menuContent ul {
        left: 0;
    }
    header nav .menuContent ul li {
        display: block;
        padding: 10px 0;
    }
    header nav .menuContent ul .acctBtn {
        display: block;
        text-align: center;
    }
    header nav .menuContent ul .acctBtn a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 5px;
        text-align: center;
        padding: 10px 15px;
        background: linear-gradient(to right, var(--main), var(--main-2));
        box-shadow: 0 0 2px #fefefe73;
        border-radius: 10px;
        margin: 20px 0 5px;
        backdrop-filter: blur(20px);
        color: #fff;
    }
    header nav .menuContent .btn {
        display: inline-block;
        font-size: 20px;
        color: var(--white);
        margin: 8px;
        cursor: pointer;
    }
}